*{
    padding: 0px;
    margin: 0px;
}
body{
    background: url(../image/bg.jpg) no-repeat center fixed;
}
.container{
    /* display: flex; */
    position: absolute;
    left: 50%;
    top: 40%;
}
.container h1{
    font-size: 30px;
    border-bottom: 3px solid blue;
    padding: 13px 0;

}
.box{
   width: 100%; 
   display: flex;
   margin: 3px 0;
}
.icon{
   align-content: center;
   padding: 6px;
}
.box input {
    width: 100%; 
    outline: none;
    border: none;
    color: bisque;
    /* background-color: rgb(13, 114, 114); */
    font-size: 20px;
 }
 .btn{
    cursor: pointer;
    border:2px solid yellow;
    padding: 6px;
    margin: 15px 0;
    border-radius:20% ;
    align-items: center;
 }