  @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Itim', cursive;
    
}

body{
    background: url(../image/bg.jpg) no-repeat center fixed ;
    
}
.container{
    /* display: flex; */
    position: absolute;
    left: 50%;
    top: 40%;
    background-color:rgb(76 76 76 / 9%);
    border-radius: 10%;
}
.container h1{
    
    font-size: 30px;
    border-bottom: 3px solid blue;
    padding: 13px 0;
    display: inline-block;
    color: rgb(255, 255, 255);
  

}
.Sign-Up{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Sign-Up a {
    text-decoration: none;
    
}
.box{
   width: 100%; 
   display: flex;
   margin: 25px 0;
   border-bottom: 2px solid blue;
}
.icon{
   align-content: center;
   padding: 6px;
}
.box input {
    background: none;
    width: 100%; 
    outline: none;
    border: none;
    color: bisque;
    /* background-color: rgb(13, 114, 114); */
    font-size: 20px;
 }
 .btn{
    cursor: pointer;
    border:2px solid blue;
    padding: 6px;
    margin: 15px 0;
    border-radius:15% ;
    align-items: center;
    font-size: 20px;
    background: none;
    color: white;
    
 }
 .btn:hover{
    border: 2px solid white;
    background: rgb(59, 14, 224);
    color: black;

 }